**/target
**/project/project
**/project/target
**/out
/AgilePokerBackEndWS/App/src/main/resources/index.html
/AgilePokerBackEndWS/App/src/main/resources/main.js
/AgilePokerBackEndWS/App/src/main/resources/favicon.ico
/AgilePokerBackEndWS/App/src/main/resources/main.js.map
/AgilePokerBackEndWS/App/src/main/resources/cards/
/AgilePokerBackEndWS/App/src/main/resources/styles/
/AgilePokerBackEndWS/App/src/main/resources/others/done.png
/AgilePokerBackEndWS/App/src/main/resources/others/ko.png
/AgilePokerBackEndWS/App/src/main/resources/others/wait.png
/AgilePokerFrontEnd/src/main/resources/others/ok.png
