**/.idea
**/target
**/project/project
**/project/target
**/out
/AgilePokerBackEndWS/App/src/main/resources/styles/app.css
/AgilePokerBackEndWS/App/src/main/resources/cards/back.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_1d.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_01.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_2d.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_02.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_3d.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_03.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_04.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_05.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_08.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_13.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_back.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_demi.png
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_empty.png
/AgilePokerBackEndWS/App/src/main/resources/index.html
/AgilePokerBackEndWS/App/src/main/resources/styles/layout.css
/AgilePokerBackEndWS/App/src/main/resources/main.js
/AgilePokerBackEndWS/App/src/main/resources/cards/card_v1_quart.png
