**/.idea
**/target
**/project/project
**/project/target
**/out
/AgilePokerBackEndWS/App/src/main/resources/index.html
/AgilePokerBackEndWS/App/src/main/resources/main.js
/AgilePokerBackEndWS/App/src/main/resources/favicon.ico
/AgilePokerBackEndWS/App/src/main/resources/main.js.map
/AgilePokerBackEndWS/App/src/main/resources/cards/
/AgilePokerBackEndWS/App/src/main/resources/styles/
