.layoutRoom {
  display: flex;
  border: dashed white;
  flex-direction: column;
  background-color:#958741;
}

.headerRoom {
  display: flex;
  border: dashed blue;
  flex-direction: column;
  background-color:#918123;
}

.middleRoom {
  display: flex;
  border: dashed green;
  flex-direction: row;
  background-color:#153694;
  margin-left: 5px;
  margin-left: 5px;
}

.middleLeftRoom {
  display: flex;
  border: dashed pink;
  flex-direction: row;
  background-color:#153694;
}

.middleCenterRoom {
  display: flex;
  border: dashed grey;
  flex-direction: row;
  background-color:#353644;
}

.allCardsLayout {
  display: flex;
  border: dashed grey;
  flex-direction: row;
  background-color:#658644;
}

.middleRightRoom {
  display: flex;
  border: dashed purple;
  flex-direction: row;
  margin-left: auto;
  background-color:#153694;
}


.footerRoom {
  display: flex;
  border: dashed yellow;
  flex-direction: column;
  background-color:#72A154;
}

.vbox {
  display: flex;
  border: dashed orange;
  flex-direction: column;
  background-color:#547123;
}